Repository CogappLabs/claude-art-heist: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lint:
  run: npx biome check --no-errors-on-unmatched {staged_files}

typecheck:
  run: npx tsc --noEmit

Add powerup visual effects
  .claude/settings.local.json
  index.html
  prompts.md
Due: lint

Add CONFIG object, futuristic sounds, and improve UI visibility
  src/main.ts
  src/style.css
Due: lint, typecheck

Add guard reactions and mobile controls
  index.html
  prompts.md
Due: none

Add Dreamlo leaderboard with name entry for top 25
  .env.example
  .github/workflows/deploy.yml
  .gitignore
  index.html
  prompts.md
Due: none

Fix import.meta.env access for non-Vite environments
  index.html
Due: none

added AIC to title
  index.html
Due: none

Fix base path for GitHub Pages deployment
  vite.config.js
Due: lint

Use CORS proxy for Dreamlo on HTTPS (GitHub Pages)
  index.html
Due: none

Switch to allorigins.win CORS proxy
  index.html
Due: none

Switch to direct HTTPS for Dreamlo (SSL plan)
  index.html
Due: none

Make leaderboard scrollable with highlighted entry auto-scroll
  index.html
Due: none

Show finish screen before name entry modal
  index.html
Due: none

Remove local settings file from tracking
  .claude/settings.local.json
Due: lint

Prevent R key restart while name entry modal is open
  index.html
Due: none

Fetch artwork images with AIC-User-Agent header to bypass CloudFront challenge
  index.html
Due: none

Revert "Fetch artwork images with AIC-User-Agent header to bypass CloudFront challenge"
  index.html
Due: none

Path conditions:
  lint: any of: *.{js,ts,css,json}
  typecheck: any of: *.ts
